*{
	font-family: 'Roboto';
}

a{	
	text-decoration: none;	
	color: black;
}

ul{	
	list-style: none;
}

#top{
	display: flex;
	position: fixed;
	background-color: white;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	width: 100%;
	padding-left: 10px;
	z-index: 2000;
}

#top > div{
	margin: 0 auto;
}

#top > a > img{
	width: 30px;
	height: 30px;
	margin: 20px 30px 0px 0px;
	position: absolute;
}

#top p{
	color: #757575;
	margin: 0px 0px 10px 5px;
	font-size: 14px;
	padding-left: 5px;
}

#top h2{
	font-size: 20px;
	color: #D32F2F; 
	margin-bottom: 0;
}

nav{
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla */
	top: 66px;
	background-color: rgba(0,0,0,0.80);
	height: 100%;
	overflow: scroll;
	left:-100%;
}

nav ul{
	line-height: 55px;
}

nav > ul > li:hover i, nav > ul > li:hover a{
	color: white;
}

#menu li{
	position: relative;
}

#menu li:before{
  content: '';
  background: #D32F2F;
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
  z-index: -1;
}

#menu li:hover:before{
	width:100%;
}

.option{
	padding: 30px 100px 30px 0px;
	color: white;
}

#close{
	display:none;
}

.material-icons{
	margin-right: 20px;
	color: #D32F2F;
	padding-left: 10px;
}

#init{
	background: url(../images/fondo-movil.JPG);
	background-size: cover;	
	background-attachment: fixed;
  	overflow: scroll;
	height: 140vh;
	width: 100%;
}

#init > a > img{
	height: 40px;
	width: 40px;
}

#marco{	
	border: 1px solid #D32F2F;
	width: 120px;
	height: 120px;
	border-radius: 100px;
	padding: 5px;
	background-color: white;
	margin-top: -50px;
	position: absolute;
	right: 20px;
	z-index: 2000;
}

.photo{
	width: 120px;
	height: 120px;
	border-radius: 100px;
	background: url('../images/mifoto.jpg');
	background-size: cover;
}

#about-me{
	padding: 20px;
}


#about-me > h2{
	color: #D32F2F;
}

#about-me > p, #about-me > h2{
	margin-top: 35px;
}

#about-me .redes-sociales{
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 30px;
}

section > h3{
	background-color: #D32F2F;
	color: white;
	text-align: center;
	padding: 20px;
}

.card{
	box-shadow: 0 3px 6px rgba(3, 38, 14,0.16), 0 3px 6px rgba(5,51,19,0.23);
	margin: 20px;
	text-align: center;
	background-color: white;
	padding: 10px;
}

#projects .card{
	padding: 30px 10px 40px;
}

#projects .card > div{
	height: 100%;
	width: 100%;
}

#projects .card:hover p, #projects .card:hover h4{
	color: transparent;
}

#project1:hover{
	background-image: url(../images/tweepy.png);
	background-size: cover;
}

#project2:hover{
	background: url(../images/casas.png);
	background-size: cover;
}

#project3:hover{
	background: url(../images/tareas.png);
	background-size: cover;
}

#project4:hover{
	background: url(../images/mastermind.png);
	background-size: cover;
}


#skills > .card > ul{
	padding: 0;
}

.border-bar{
	height: 15px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
	background-color: #D3D3D3;
}

.bar{
	height: 15px;
	color: white;
	font-size: 14px;
}

.bar70{
	width: 70%;
	background-color: #58db58;
}

.bar50{
	width: 50%;
	background-color: #71BC78;
}

.bar40{
	width: 40%;
	background-color: #F7BA2A;
}

.bar30{
	width: 30%;
	background-color: #3FC7FF;
}

.bar25{
	width: 25%;
	background-color: #DB5858;
}

.java, .html, .js{
	width: 70px;
	height: 70px;
}

.css{
	width: 50px;
	height: 70px;
}

.python, .jquery, .symfony, .plsql{
	width: 50px;
	height: 50px;
}

.android{
	width: 60px;
	height: 85px;
}

.ajax, .php{
	width: 80px;
	height: 50px;
}

.card h4{
	color: #D32F2F;
}

.card p, #about-me p{
	color: #757575;
}

.italic{
	font-style: italic;
}

.flip2{
	display: none;
}

.form{
	padding: 0px 20px 10px;
	background: #fff;
	box-shadow: 0px 0px 3px gray;
	margin-top: 20px;
	font-size: 0.9rem;
	margin: 0 auto;
}

.form h4{
	background-color: #D32F2F;
	color: white;
	padding: 20px;
	max-width: 400px;
	margin: 0 auto;
	font-size: 17px;
}

.form div{
	margin-top: 20px;
}

.input-group{
	line-height: 0px;
}

label{
  color:#999;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}


.form input{
	font-size: 16px;
	width: 80%;
	max-width: 350px;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 0.8rem;
}

.form button{
	padding: 0px 20px;
}

label img{
	width: 30px;
	height: auto;
}

textarea{
	margin: 10px 0px 10px;
	width: 90%;	
	max-width: 400px;
	height: 100px;
}
		
.form button:hover{
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
}

#form{
	margin-bottom:20px;
}

input:focus{
	border-bottom: 3px solid #D32F2F;
}


#contact .redes-sociales img{
	padding: 20px;
	width: 70px;
	height: 70px;

}

.redes-sociales{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 20px;
	margin: 0 auto;
}

.redes-sociales img{
	width: 50px;
	height: 50px;
}

footer{	
	background-color: #D32F2F;
	color: white;
	padding: 10px;
	text-align: center;
}
footer a{
	color:white;
}

@media (min-width: 520px){

	.form{
		width: 60%;
	}

	#init{
		background: url('../images/fondo.JPG');
		background-size: cover;	
		background-attachment: fixed;
  		overflow: scroll;
		height: 150vh;
	}

	#skills > .card ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-around;
	}

	#skills > .card ul li .imagen{
		height: 100px;
	}
	#projects{
		text-align: center;
	}

	#projects .card-group{
		display: grid;
		grid-template-columns: 45% 45%;		
		grid-template-rows: 45% 45%;
		justify-content: center;
	}

	#education .card-group{
		display: flex;
		justify-content: space-around;
	}

	#education > .card{
		margin: auto;
		width: 40%;
		height: 100px; 		
	    
	}

	#education .card{
	    position: relative;
	    transition: all 1s ease;
	    transform-origin: 100% 50%;
	    transform-style: preserve-3d;
	    transition: all 1s ease;
	    transform-origin: 100% 50%;
	    transform-style: preserve-3d;
	    backface-visibility: hidden;
	}

	.flip2{
		display: block;
        position: absolute;
		backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0 3px 6px rgba(3, 38, 14,0.16), 0 3px 6px rgba(5,51,19,0.23);
        width: 90%;
        height: 90%;
        background-color:  #D32F2F;
        padding: 0px 10px 10px;
    }

    .flip2 h4, .flip2 p{
    	color:white;
    }

    .flip1{
    	position: absolute;
    }

    .flip2{
        transform: rotateY(-180deg);
    }
	
	#education > .card:hover{
		transform: perspective(600px) rotateY(-180deg) translateX(100%);
	}

	#education > .card-group > .card{
		height: 135px;
		width: 25%;
	}
}

@media (min-width: 1024px){	
	main{
		padding-left: 293px;
	}

	#name{
		margin-left: 20px;
		background-color: white;
	}

	#name h2{
		font-size: 20px;
	}

	#name p{
		margin-top: 5px;
	}

	.menu{
		display:none;
	}


	#top{
		padding-left: 70px;
	}

	#about-me, section h3, #about-me, section p{
		padding-left: 20px;
	}

	#about-me h2{
		font-size: 2rem;
		text-align: center;
	}

	#about-me .redes-sociales{
		width: 50%;
	}

	#education > div:nth-of-type(1){
		margin-left: 30%;
	}

	.redes-sociales{
		width: 50%;
	}

	.redes-sociales img{
		width: 70px;
		height: 70px;
	}

	nav{		
		left: 0;
		top: 73px;
		background-color: #F1F1F1;
	}

	.option{
		color: black;
	}

	#marco, .photo{	
		width: 160px;
		height: 160px;
	}

	footer p{
		margin-left: 300px;
	}
}
